@model PagedList.IPagedList<DALL.BusinessLayer.Potkategorija>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<h2>Potkategorija</h2>
<p>
    @Html.ActionLink(linkText: "Create new", actionName: "Create", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { })
</p>
<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IDPotkategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().KategorijaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Naziv)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDPotkategorija)
                </td>
                <td>
                    @Html.Action(controllerName: "Kategorija", actionName: "GetNaziv", routeValues: new { id = item.KategorijaID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { id = item.IDPotkategorija }) |
                    @Html.ActionLink(linkText: "Delete", actionName: "Delete", htmlAttributes: new
                    {
                   @class = "btn btn-danger",
                   data_id = item.IDPotkategorija,
                   data_naziv = item.Naziv
                    }, routeValues: new { id = item.IDPotkategorija })
                </td>
            </tr>
        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
</div>

@section scripts{
    <script>
                $('.btn-danger').on('click', function (e) {
                    e.preventDefault();
            const { id, naziv } = this.dataset;
            if (confirm(`Jeste li sigurni da želite obrisati potkategoriju ${naziv}?`)) {
                $.ajax({
                    url: '@Url.Action(controllerName:"Potkategorija",actionName:"Delete")',
                    data: { id },
                    statusCode: {
                        200: function () {
                            $('.table')
                                .find(`[data-id=${id}]`)
                                .parents('tr').hide(500);
                        },
                        400: function () {
                       console.log('Neuspjelo.');
                        }
                    }
                });
                            }
        })
    </script>
}
