@model PagedList.IPagedList<Kategorija>
@using DALL.BusinessLayer;
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Kategorija";
}
<h2>Kategorija</h2>
<p>
    @Html.ActionLink(linkText: "Create new", actionName: "Create", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { })
</p>
<div class="jumbotron">

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IDKategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Naziv)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDKategorija)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { id = item.IDKategorija }) |
                    @Html.ActionLink(linkText: "Delete", actionName: "Delete", htmlAttributes: new
                    {
                   @class = "btn btn-danger",
                   data_id = item.IDKategorija,
                   data_naziv = item.Naziv
               }, routeValues: new { id = item.IDKategorija })
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>

@section scripts{
    <script>
        $('.btn-danger').on('click', function (e) {

            e.preventDefault();
            const { id, naziv } = this.dataset;
            if (confirm(`Jeste li sigurni da želite obrisati kategoriju ${naziv}?`)) {
                $.ajax({
                    url: '@Url.Action(controllerName:"Kategorija",actionName:"Delete")',
                    data: { id },
                    statusCode: {
                        200: function () {
                            $('.table')
                                .find(`[data-id=${id}]`)
                                .parents('tr').hide(500);
                        },
                        400: function () {
                            console.log('Kategorija nie orbisa');
                        }
                    }
                });
            }
        })
    </script>

}
