@model PagedList.IPagedList<Proizvod>
@using DALL.BusinessLayer;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Proizvodi";
}
<h2>Proizvodi</h2>
<p>
    @Html.ActionLink(linkText: "Create new", actionName: "Create", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { })
</p>
<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IDProizvod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BrojProizvoda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Boja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CijenaBezPDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MinimalnaKolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PotkategorijaID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDProizvod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojProizvoda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CijenaBezPDV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimalnaKolicina)
                </td>
                <td>
                    @Html.Action(controllerName: "Potkategorija", actionName: "GetNaziv", routeValues: new { id = item.PotkategorijaID })
                </td>
                <td>
                    @Html.ActionLink(linkText: "Edit", actionName: "Edit", htmlAttributes: new { @class = "btn btn-primary" }, routeValues: new { id = item.IDProizvod }) |
                    @Html.ActionLink(linkText: "Delete", actionName: "Delete", htmlAttributes: new
                    {
                   @class = "btn btn-danger",
                   data_id = item.IDProizvod,
                   data_naziv = item.Naziv
               }, routeValues: new { id = item.IDProizvod })
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))

</div>
@section scripts{
    <script>
        $('.btn-danger').on('click', function (e) {
                        e.preventDefault();
                    const { id, naziv } = this.dataset;
            if (confirm(`Jeste li sigurni da želite obrisati proizvod ${naziv}?`)) {
                $.ajax({
                                        url: '@Url.Action(controllerName:"Proizvodi",actionName:"Delete")',
                    data: { id },
                    statusCode: {
                        200: function () {
                            $('.table')
                                .find(`[data-id=${id}]`)
                                .parents('tr').hide(500);
                        },
                        400: function () {
                   console.log('Proizvod nie orbisa');
                        }
                    }
                });
            }
                    })

    </script>
}
